@import "tailwindcss/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url(../public/images/startpage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Hide scrollbar for Chrome, Safari and Opera */

.overflow-scroll::-webkit-scrollbar {
  display: none !important;
}

.overflow-scroll {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.seenButton {
  color: #008095;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.wishButton {
  cursor: pointer;
  transition: transform 1s linear;
}

.seenButton:hover {
  color: green;
  transform: scale(0.9);
}

.wishButton:hover {
  transform: rotate(360deg);
}

.airingClass {
  color: green;
  font-style: italic;
  line-height: 3rem;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(187 247 208);
}

/* .amplify-expander__trigger {
  background-color: green !important;
  width: 200px !important;
} */

.amplify-expander__icon{
  width: 20px !important;
}

.my-expander {
  background-color: var(--amplify-colors-brand-primary-80);
  color: var(--amplify-colors-white);
}